div.stadium {
    margin: auto;
    margin-top: 5%;
    padding: 50px;
    background-color: seagreen;
    position: relative;
}

div.field {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: green;
}

div.field-side {
    border: 2px solid white;
    flex: auto;
}

div.sideA {
    border-right-width: 1px;
}

div.sideB {
    border-left-width: 1px;
}